.wrap {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    transition: 0.2s;
    background-color: transparent;
    position: absolute;
    right: 30px;
    bottom: 15px;
    cursor: pointer;
}