.wrapper {
    width: 100%;
    height: calc(100% -20px);
}

.content {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    line-height: 30px; 
}

.content h2 {
    text-align: center;
    color: var(--main-theme-color);
}

.content input {
    margin-top: 20px;
    padding: 5px;
    border: 1px solid var(--main-theme-bg);
}