.label-app {
    width: 90px;
    height: 90px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
}

.label-app:hover {
    background-color: rgba(65, 65, 65, 0.44)
}

.label-app-img {
    width: 45px;
    height: 45px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.label-app-title {
    margin-top: 5px;
    text-align: center;
    font-size: 13px;
    color: var(--main-theme-color);
    word-wrap: break-word;
}