.wrapper {
    width: 100%;
    min-height: 250px;
    background-color: var(--main-theme-bg);
    border-radius: 5px;
    z-index: 5;
}

.title {
    text-align: center;
    color: var(--main-theme-color);
}