.wrapper {
    height: 250px;
    overflow: auto;
    padding: 5px;
}

.wrapper::-webkit-scrollbar {
    width: 6px;
}
.wrapper::-webkit-scrollbar-track {
    background: var(--main-theme-sub-bg);
}
.wrapper::-webkit-scrollbar-thumb {
    background-color: var(--main-theme-bg); 
}

.not_alert {
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}